*.lso
*.sym
*.stx
*.xst
*.prj
*.vhi
*.spl
*.cmd_log

*.html
*.xml

*.gise
*.xise
*.txf

arch.*

a
_xmsgs/
fuse.xmsgs
fuseRelaunch.cmd
ipcore_dir/
iseconfig/
main_bitgen.xwbt
main_guide.ncd
packet_mem.mif
_ngo/
main.bgn
main.bit
main.bld
main.drc
main.ncd
main.ngc
main.ngd
main.ngr
main.pad
main.par
main.pcf
main.ptwx
main.syr
main.twr
main.twx
main.unroutes
main.ut
main.xpi
main.xst
main_map.map
main_map.mrp
main_map.ncd
main_map.ngm
main_map.xrpt
main_ngdbuild.xrpt
main_pad.csv
main_pad.txt
main_par.xrpt
main_xst.xrpt
webtalk.log
xlnx_auto_0_xdb/
xst/
gen_ctrl