*.lso
*.prj
*.cmd_log

*.gise
*.xise
*.txf

arch.*

_xmsgs/
debouncer.sym
fuse.xmsgs
fuseRelaunch.cmd
ipcore_dir/
iseconfig/
main_bitgen.xwbt
main_guide.ncd
packet_mem.mif
par_usage_statistics.html
_ngo/
main.bgn
main.bit
main.bld
main.drc
main.ncd
main.ngc
main.ngd
main.ngr
main.pad
main.par
main.pcf
main.ptwx
main.stx
main.syr
main.twr
main.twx
main.unroutes
main.ut
main.xpi
main.xst
main_envsettings.html
main_map.map
main_map.mrp
main_map.ncd
main_map.ngm
main_map.xrpt
main_ngdbuild.xrpt
main_pad.csv
main_pad.txt
main_par.xrpt
main_summary.html
main_summary.xml
main_usage.xml
main_xst.xrpt
read_raw
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
